

ul, ol {
    text-align: left;
}

#links {
    padding-bottom: 20px;
    font-weight: bold;
    color: #001034;
}

.heading {
    color: #001034;
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px;
    background-color: #001034;\
    color: #D7EBE5;
    height: auto;
    width: 50%;
    max-width: 50%;
}

footer {
    font-size: 7px;
}

a {
    color: #001034;
    text-decoration: none;
}

a:active, a:hover {
    font-style: italic;
}
