body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-wrap: wrap;
    font-family: "Noto Sans Mono", monospace;
    background-color: #FFFBF4;
    color: #0E013C;
}

ul, ol {
    text-align: left;
}

#links {
    padding-bottom: 20px;
    font-weight: bold;
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px;
    background-color: #AAC2DA;
    height: auto;
    width: 50%;
    max-width: 50%;
}

footer {
    font-size: 7px;
}

a {
    color: #402A90;
    text-decoration: none;
}

a:active, a:hover {
    font-style: italic;
}
